.uploaded-image {
  max-width: 100%;
  max-height: 200px;
}
.user-image {
  max-width: 100%;
  max-height: 100%;
}
/*
.emoji-wrapper {
  max-width: 100%;
  height: 100%;
  padding-top: 10%;
  overflow: hidden;
}
#current-emoji-pair {
  -webkit-transform: scale(12);
  -moz-transform: scale(12);
  transform: scale(12);

}*/

 h3 {
   color: #fff;
   background-color: #e55c3c;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
 }
.inner-logo-div {
   border-bottom: 4px solid #ffcd52;
   margin:0 10%;
 }
#logo {
  height: 25%;
  display: block;
  margin: 0 auto;
}

.round-emojis {
 font-size: 4em;
}

.emoji-wrapper {
  margin-left: 40px;
  margin-top: 20px;
  border: 1px solid #AAA;
  border-radius: 10px;
}
#current-emoji-pair {
  font-size: 8em;
  text-align: center;
}
